<h3>DISTINGUISH 3 STATES OF A VARIABLE INCLUDING UNDEFINED AND SEPARATELY NULL</h3>
<strong>willNotReceiveData</strong>
<span *ngIf="willNotReceiveData === undefined">{{ willNotReceiveData }} undefined</span>
<span *ngIf="willNotReceiveData === null">{{ willNotReceiveData }} null</span>
<span *ngIf="willNotReceiveData">{{ willNotReceiveData}}</span>
<br>
<br>
<strong>willReceiveData</strong>
<span *ngIf="willReceiveData === undefined">{{ willReceiveData }} undefined</span>
<span *ngIf="willReceiveData === null">{{ willReceiveData }} null</span>
<span *ngIf="willReceiveData"> {{ willReceiveData }}</span>